/** Google Fonts **/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(https://fonts.googleapis.com/css?family=Vollkorn);
@import url(https://fonts.googleapis.com/css?family=Bitter);
@import url(https://fonts.googleapis.com/css?family=Domine);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);

/*
* Noto Sans TC (Chinese_traditional) https://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) format('woff2'),
       url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) format('woff'),
       url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format('woff2'),
       url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format('woff'),
       url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 400;
   src: url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'),
        url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'),
        url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 500;
   src: url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2) format('woff2'),
        url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff) format('woff'),
        url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 700;
   src: url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format('woff2'),
        url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format('woff'),
        url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 900;
   src: url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff2) format('woff2'),
        url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff) format('woff'),
        url(https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.otf) format('opentype');
 }

/** Styles **/
html, body, section {
  height: 100%;
}
body {
  font-size: 100%;
  font-family: "Noto Sans TC", sans-serif;
}
.container {
  display: flex;
  position: relative;
  height: 100%;
}
#player-p {
  color: #fff;
  background-color: #1198D8;
}
#player-t {
  color: #1198D8;
  background-color: #FFDE39;
}
.player {
  position: relative;
  padding: 20px;
  text-align: center;
  flex: 1;
}
.player-name {
  font-size: 12rem;
  margin: .5em;
}
.total-score {
  font-size: 7rem;
  font-family: "Open Sans", sans-serif;
}
.is-winner::before {
  content: "\f091";
  display: block;
  position: absolute;
  line-height: 1;
  font-family: FontAwesome;
  font-size: 1.5rem;
  opacity: 1;
}
#player-p.is-winner::before {
  right: 20px;
  color: #1198D8;
  animation: winner-p-trophy-show 2s 3s 1, winner-p-trophy 5s 5s infinite;
}
#player-t.is-winner::before {
  left: 20px;
  color: #FFDE39;
  animation: winner-t-trophy-show 2s 3s 1, winner-t-trophy 5s 5s infinite;
}
#player-p.is-winner .total-score {
  animation: winner-p-score 3s 1;
}
#player-t.is-winner .total-score {
  animation: winner-t-score 3s 1;
}
#update-time {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  text-align: right;
  font-family: "Open Sans", sans-serif;
  font-size: .75rem;
  color: rgba(0,0,0,.5);
}

/*
@-webkit-keyframes winnerscore {
  0% {color: #1419f5;}
  10% {color: #d789cd;}
  20% {color: #80b1ed;}
  30% {color: #353ab0;}
  40% {color: #956f58;}
  50% {color: #f78268;}
  60% {color: #30f343;}
  70% {color: #18695b;}
  80% {color: #c74fc4;}
  90% {color: #a0b21c;}
  100% {color: #b48ade;}
}
*/
@keyframes winner-p-score {
  0% {color: #fff;}
  10% {color: #FFDE39;}
  20% {color: #fff;}
  30% {color: #FFDE39;}
  40% {color: #fff;}
  50% {color: #FFDE39;}
  60% {color: #fff;}
  100% {color: #fff;}
}
@keyframes winner-t-score {
  0% {color: #1198D8;}
  10% {color: #fff;}
  20% {color: #1198D8;}
  30% {color: #fff;}
  40% {color: #1198D8;}
  50% {color: #fff;}
  60% {color: #1198D8;}
  100% {color: #1198D8;}
}
@keyframes winner-p-trophy-show {
  0% { color: #1198D8; }
  100% { color: #fff; }
}
@keyframes winner-t-trophy-show {
  0% { color: #FFDE39; }
  100% { color: #1198D8; }
}
@keyframes winner-p-trophy {
  0% { color: #fff; }
  25% { color: #fff; }
  30% { color: #FFDE39; }
  35% { color: #fff; }
  40% { color: #FFDE39; }
  45% { color: #fff; }
  100% { color: #fff; }
}
@keyframes winner-t-trophy {
  0% { color: #1198D8; }
  25% { color: #1198D8; }
  30% { color: #fff; }
  35% { color: #1198D8; }
  40% { color: #fff; }
  45% { color: #1198D8; }
  100% { color: #1198D8; }
}